data/
*~
target/
**/compiled/
node_modules/
bower_components/
resources/public/vendor/
.lein-repl-history
.nrepl-port
.repl*/
resources/public/css/
*.log
*.map
*.cache.json
*.cache.edn
eclipse_workspace
.nrepl_port
.nrepl-port
