
.result-item {
    margin-bottom: 1em;
}

.metadata {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #999;
    font-style: italic;
}

.metadata a {
    margin-right: 1em;
}

.metadata a.category {
    margin-right: inherit;
}

.summary {
    margin: 1em;
}

.summary em {
    color: red;
}

.side-nav li.active > a > span {
    font-weight: bold;
}

.side-nav li.active > li {
    padding-left: 1.0em;
}

.current-doc {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px gray solid;
    border-bottom: 2px gray solid;
}

/* BB Html fixes */
img[align=left] {
    padding-right: 1em;
    padding-bottom: 1em;
}

.facet-page.button {
    margin-bottom: 0px;
}

/* Style buttons with an icon in them */
.button .icon  {
    fill: white;
}

.button.icon.tiny {
    padding: 0.0625rem 0.625rem;
}

.button.icon.tiny .icon {
    width: 0.625rem;
    height: 0.625rem;
}

/* Foundation bug fixes */

/* Buttons have their own display: attribute overriding the one set by .hide */
a.button.hide {
    display: none;
}
